.forecast{
    margin-top: 35px !important;
    color: #878787;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
@media screen and (max-width:580px) {
    .forecast{
       text-align: center;
   } 
}