
input{
    font-size: 1rem;
    font-weight: 400;
    padding: 13px;
    margin-left: 0px;
  }
  input[type=search]{
    border-radius: 2px;
      border: none;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
      height: 44px;
      outline: 0;
      width: 250px;
  }
  input[type=submit]{
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 400;
  }
  #search{
    margin-right: 5px;
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
  }
  #search:hover{
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  #location{
    background-color: #28a745;
      border-color: #28a745;
  }
  #location:hover{
    background-color: #218838;
      border-color: #1e7e34;
  }
  .weatherinfo{
  margin-top: 20px;
  color: #878787;
}
.weatherdetails h2{
    margin-top: -22px !important;
    color: #333;
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    padding-left: 10px;
    margin-left: -15px;
}
.imgtemp{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.weatherdetails img{
    margin-left: -20px;
    margin-top: -30px;
}
.unit{
    color: #333;
    position: relative;
    top:-30px;
    font-size: 16px;
    line-height: 1.5;
}
.info{
    margin-top: 15px;
      color: #878787;
  }
  .info p{
      margin-bottom: 3px;
  }
  .weatherdetails{
      margin-bottom: -19px;
      margin-top: 20px;
  }
  .weatherinfo h1{
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    line-height: 28px;
  }
  .weatherinfo p{
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
  @media screen and (max-width:400px) {
      #search,#location{
          margin-top: 20px;
        }
        #search{
            margin-right: 20px;
      }
      .weatherdetails h2{
        font-size: 44px;
      }
      .unit{
        top: -25px;
      }
    }
    @media screen and (max-width:450px){
    .fahrenheit{
      display: none;
    }
  }